.container{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: aquamarine;
    height: 100vh;
}

.box{
  display: flex;
  margin: 20px;
  background: #fdfdfd;
  flex-direction: column;
  border-radius: 20px;
}

.form-box{
  width: 550px;
  margin: 0px 10px;
}


.text{
  font-weight: 700;
  text-align: center;
}

.inputs, .sectorsContainer{
  margin: auto;
  display: flex;
  height: auto;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
}

.checkbox-container{
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  border-radius: 6px;
}

.input, .sectors{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    border-radius: 6px;
    flex-direction: row;
}



.input input, .sectors select{
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  background: #eaeaea;
  border-radius: 20px;
  font-size: 19px;
}

.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 480px;
  height: 80px;
  color: black;
}


.save-info {
  text-align: center;
  margin-top: 30px;
  display: flex;
  margin: auto;
  align-items: center;
}

.save {
  padding: 10px 20px;
  margin: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save:hover {
  background-color: #0056b3;
}

.checkbox {
  margin-right: 10px;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.sectors label, .input label {
  width: 100px;
  font-weight: bold;
  font-size: 20px;
  background: none;
}

.sectors select {
  flex-grow: 1;
}

